{% extends "base.html" %}




{%  block  main %}


<div ng-App="myApp">
    
    <div class="header">
	  <div class="container">
	    <h1>Thumbnails</h1>
	  </div>
	</div>
	
	<div ng-controller="thumbnailCtrl"> 
      <p>{{test}}</p>
      
        <div ng-repeat="x in thumbnails track by $index" >
            <img style="width:200px; height:200x; " ng-src="{{ '{{x}}' }}"></br>
            
        </div>
    </div>
    
 </div>

{% endblock %}


{% block js %}
<script type="text/javascript" src="/static/js/app.js"></script>
<script src="/static/js/thumbnailController.js"></script>
{% endblock %}
